.nav-pills {
    overflow-x: auto;
    white-space: nowrap;
}
.nav-pills .nav-link {
    display: inline-block;
}

/*  */
.fixed-height-card {
    /* height: 400px; Adjust this value as needed */
    /* overflow: auto; Allows scrolling if content overflows */
  }
  